source/vcr.h linguist-vendored
source/logoBlue.h linguist-vendored
source/logoC.h linguist-vendored
source/logoGreen.h linguist-vendored
source/logoRed.h linguist-vendored
source/logoYellow.h linguist-vendored
source/logoCyan.h linguist-vendored